.background-image{
    background-image: url("https://images.pexels.com/photos/168938/pexels-photo-168938.jpeg?cs=srgb&dl=pexels-lalesh-aldarwish-168938.jpg&fm=jpg");
    background-size: cover;
    height: 100vh;
    width: auto;
    text-align: center; 
}

.background-card{
    background-image: linear-gradient(rgb(8, 8, 8),rgba(255, 255, 255, 0.678));
    height: 20vh;
    width: 70vw;
    margin: 10px;
    margin-left: 210px;
    border-radius: 15px;
}

.button-card{
    color: white;
    background: black;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    width: 140px;
    margin-top: -25px;
    margin-left: 7px;
}

.button-card1:hover{
    background-color: rgb(105, 102, 102);
}

.heading-card{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: white;
}

.paragraph-card{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

