.background{
    background-color: grey;
    height: 100vh;
    width: auto;
}

.heading{
    font-size: 80px;
    text-align: center;
}

.paragraph{
    font-size: 65px;
    text-align: center;
}

.button{
    height: 50px;
    width: 125px;
    background-color: white;
    color: black;
    border-radius: 10px;
   
}